<button class="btn btn-default" type="button" {{action "updateSeriesData"}}>Update Series Data</button>
<button class="btn btn-default" type="button" {{action "setSeriesCount" 0}}>Zero Series</button>
<button class="btn btn-default" type="button" {{action "setSeriesCount" 1}}>One Series</button>
<button class="btn btn-default" type="button" {{action "setSeriesCount" 2}}>Two Series</button>

<HighCharts
  @mode='StockChart'
  @content={{this.chartData}}
  @chartOptions={{this.chartOptions}}
/>
