<button
  class="btn btn-default"
  type="button"
  {{on "click" this.updateSeriesData}}
>
  Update Series Data
</button>
<button
  class="btn btn-default"
  type="button"
  {{on "click" this.fullUpdateToSeries}}
>
  Full Update to Series
</button>
<button
  class="btn btn-default"
  type="button"
  {{on "click" (fn this.setSeriesCount 0)}}
>
  Zero Series
</button>
<button
  class="btn btn-default"
  type="button"
  {{on "click" (fn this.setSeriesCount 1)}}
>
  One Series
</button>
<button
  class="btn btn-default"
  type="button"
  {{on "click" (fn this.setSeriesCount 2)}}
>
  Two Series
</button>

<HighCharts @content={{this.chartData}} @chartOptions={{this.chartOptions}} />